.background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 14px 28px -5px #dfe1e6;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 28px;
  width: 64%;
  height: 64%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d0d5dd;
  margin-bottom: 28px;
  width: 100%;
  padding-bottom: 20px;
}

.title > h2 {
  margin: 0;
}

.title > button {
  background-color: #09bcff;
  color: white;
  border: none;
  padding: 10px 32px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.content {
  width: 100%;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px;
}

.table > thead {
  background-color: #364261;
  color: white;
  text-align: left;
}

.table th {
  padding: 14px;
  font-weight: 100;
}

.table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.table > tbody {
  border: 1px solid #d0d5dd;
  border-top: none;
}

.table td {
  padding: 14px;
  border-bottom: 1px solid #d0d5dd;
}

.downloadButton {
  padding-left: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
