.modalBackground {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 36%;
  box-sizing: border-box;
}

.modalTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d5dd;
}

.modalTitle > p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.modalTitle > button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  background-color: white;
  display: flex;
  cursor: pointer;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.selectFile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0fa;
  padding: 50px;
  border: 1.2px dashed #0162e8;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.selectFile > button {
  background-color: transparent;
  border: 1.2px solid #0162e8;
  border-radius: 10px;
  padding: 6px 24px;
  color: #0162e8;
  cursor: pointer;
  font-size: 10px;
}

.docs {
  width: 100%;
  border: 1.2px solid #0162e8;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 10px;
  margin-bottom: 12px;
}

.uploadButton {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.uploadButton > button {
  background-color: #0162e8;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
}
